*{ 
   box-sizing: b;
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;

}
.phoenix{
    background-color: #f1f1f1;
}
.landing{
}
.landing-content{
}
.headers{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.headers h1{
   font-size: 3rem;
   z-index: 2; 
   color: rgb(255, 255, 255);
  
}
.navbar{
   z-index: 2;
}
.navbar ul{
   display: flex;
   list-style: none; 
}
.navbar li a{
   text-decoration: none;
   margin-left: 3em;
   font-size: 1.2rem;
   font-weight: bold;
   /* color: #6eb846; */
  color: rgb(255, 255, 255);
}
video{
  position: absolute;
   top: 0;
   left: 0;
   object-fit: cover;
   opacity: 0.9; 
   height: 90vh;
}
.overlay{
  height: 90vh;
   top: 0;
   left: 0;
   bottom: 0;
   position: absolute;
   background-color:#5f6166;
   mix-blend-mode: overlay;
}
.text{
  display: flex;
  flex-direction: column;
  align-items: center;
   text-align: center;
   color: rgb(236, 224, 224);
   margin-top: 100px;
   margin-bottom: 16em;
}
.text h3{
   font-size: 3rem;
   font-weight: bold;
   z-index: 2;
}
.text p{
   font-size: 1.5rem;
   font-weight: 600;
   z-index: 2;
}
.head{
   font-size: 1rem;
   z-index: 2;
}
.explore{
  z-index: 10;
}
.text a{
  padding: 1em 5em;
  font-size: 1.2rem;
  font-weight: bold;
  background: none;
  border: 4px solid white;
  z-index: 2;
}
.text a:hover{
  background: goldenrod;
  cursor: pointer;
  color: black;
  
  z-index: 2;
}
@media (max-width:1020px ){
    .services{
        flex-direction: column;
    }
    .serv {
        flex-direction: column;
    }

}
@media (max-width:780px){

}

/* SERVICES ***************************/
.services{
    
     display: flex;
     justify-content: space-between;
     z-index: 200;
     text-align: center;
   }
   .count{
     position: relative;
      background-color:#1963A6;
      text-align: center;
      font-size:1.6rem;
      font-weight: bold;
     border-radius: 10px;
      padding: 2.3em 3em 1em 3em;
      line-height: 1.6em;
      z-index: 10;
      color: white;
    
     
     
   }
   .count i{
     font-size: 2.5rem;
  
   }
  
   
  
  .num{ 
     font-size: 3rem;
   }
   .serv {
     position: relative;
     display: flex;
     text-align: center;
     width: 100%;
     font-size: 1.5em;
     border-radius: 10px;
     padding: 1.5em 2em 0em 1em;
     z-index: 2121212;
     justify-content: space-between;
     top: 7px;
  
    line-height: 1em;
   }
   .col{
    margin-left: 0.8em;
   }
   .serv div{
     background-color: rgb(255, 255, 255);
     border-radius: 10px;
     height: 12.5em;
   }
   .serv button{
    border: 1px solid black;
  
   }
  .serv h2{
     font-size: 1.7rem;
     font-weight: 600;
  }
  .serv i{
     font-size: 2.5rem;
     margin-top: .8em;
     margin-bottom: .5em;
     color: #6eb846;
  }
  .texts{
    margin-top: 1em;
     font-size: 1rem;
     font-weight: 400;
     font-family: 'Inter', sans-serif;
     padding: 10px;
     color: #a5a2a2;
  }
/***************WHO WE ARE*****************/
.who-we-are{
    margin-top: 5em;
    display: flex;
    justify-content: space-between;

}
.who-we-are .whos{
    padding: 3em;

   padding-top: 6em;
}
.whos .who{
    font-size: 1em;
    color: #6eb846;
}
.whos .keep{
    font-size:2.9rem;
    font-weight: bolder;
    line-height: 1em;
    letter-spacing: -1px;
}
.whos .desc{
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #a5a2a2;
}
.whos .btn-warning{ 
    font-size: 1em;
    padding: 10px 40px;
}
/* IMAGES */



.renew1 img{
    border-radius: 10px;
    padding: 1px;
    position: relative  ;
    width: 100%;
    margin-left: 30px;
    
}
.renew{
    background: white;
    padding: 40px 40px 20px 40px;
    width: 15%;
    border-radius: 10px;
    text-align: center;
    margin: -230px 0px 0px 0px;
    position: absolute;    
}
.renew i{
    font-size: 2rem;
     color: #6eb846;
}
.renew .re{
        font-size: 1em;
    color: #6eb846;
    margin: 10px;
}
.renew .en{
    font-size: 2rem;
    font-weight: bold;
    line-height: 35px;
}




/***SOLUTION***/
.solution {
    position: relative;
    display: block;
    background: #0e7dd8;
    background-image: url("solar-panel.jpg"); /* fallback */
    background-image: url("solar-panel.jpg"), linear-gradient(#4050e9, #7eb1eb); /* W3C */
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 150px;
}
.solution-desc{
    padding-top: 100px;
    width: 50%;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 3;
    color: white;
}
.solution-header{


}
.solution-our{
        color: #6eb846;
        letter-spacing: 1px;
}
.solution-keep{
    font-weight: bold;
    font-size: 3em;  
    line-height: 50px;
}
.solution-overlay{
    position: absolute; 
     height: 100%; 
     width: 100%; 
    background-color:#1963A6;
	opacity: 0.8;
    z-index: 2;
    left: 0;
    right: 0;
}
.solution-para{
    font-weight: 600;
    font-size: 1.2em;
    padding: 0 3em;
   
}
.card-img-top{
    
}
.solution-two-images{
    display: flex;
    position: relative; 
   border-radius: 50px;
   z-index: 200;
   top: 70px;


}
.solution-two-images .card{
    border-radius: 10px;
}
.solution-two-images img{
    border-radius: 10px 10px 0px 0px;
}

.solution-two-images img{
    width: 100%;
}
.solution-two-images h5{
    font-size: 2em;
   font-weight: 600;
}
.solution-two-images p{
    font-size: 1.2em;
    margin-bottom: 30px;
}
.solution-two-images i{
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}


/**WHAT WE OFFER**/
.what-we-offer{
    display: block;
    align-items: center;

   border-bottom: 10px;
}
.what-we-offer img{
    border-radius: 10px 10px 0px 0px;
}
.what-we-offer-desc{
    text-align: center;
    position: relative;
    width: 100%;   
}
.what-we-offer-desc h3{
    font-weight: bold;
    font-size: 3em;
    line-height: 100%;
    letter-spacing: -1px;
    align-items: center;
    text-align: center;
    position: relative;
}
.what-we-offer .card-title{
    font-size: 2em;
    font-weight: 600;
}
.what-we-offer .card-text{
    font-size: 1.2em;
    font-weight: 300;
}
.what-we-offer .btn {
    margin-top: 20px;
    margin-bottom: 15px;
}
.what-we-offer .card{
    border-radius: 10px;
    border-top: none;
}
/**HOW IT WORKS***/
.how-it-works{
    display: block;
    position: relative;
    text-align: center;
    background-image: url("backgrounddashed.jpg"); /* fallback */
    background-repeat: no-repeat;
    background-size: cover;
}
.step{
    display: flex;
    position: relative;
    margin-left: 50px;
    justify-content: center;

}  
.step .card{  
    padding: 30px;
    margin: 15px;
    width: 18%;
    outline: none;
    border-color: rgb(255, 255, 255);
    background-color: rgb(250, 244, 237);
}
.step .card-subtitle{
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 10px;
}
.how-it-works h3{
    font-weight: bold;
    font-size: 3em;
    line-height: 100%;
    letter-spacing: -1px;
    align-items: center;
    text-align: center;
    position: relative;
}
.how-it-works .how-desc{
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 30px;
}
/**LETS SHINE SECTION**/
.lets-shine{
    display: flex;
    justify-content: space-between;
}

/**WE NEED A SOLAR SECTION*/
.we-need{
    display: flex;
    justify-content: space-between;  
}
.we-need-desc{
   
}
.we-need-cont{
  
    position: relative;
    width: 90%;
    left: 60px;
    top: 100px;
}
.we-need img{
   border-radius: 10px;
}
.we-need-cont h3 {
    font-size: 2.5em;
    font-weight: bold;
}
.we-need-cont p{
        font-size: 1.2em;
        font-weight: 500;
        color: gray;
}
.we-need-cont button{
    padding: 10px;
    align-items: center;
    left: 20px;
}
/* WHY CHOOSE US ***************************/
.why-choose-us{
    display: flex;
}

.choose-header{
 
    padding: 1em;
}
.choose-our{
    color: #6eb846;
    letter-spacing: 1px;
}
.choose-keep{
    font-weight: bold;
    font-size: 2.7rem;
    letter-spacing: -2px;
    line-height: 1em;
    color: #1a3240;
}
.choose-para{
    font-size: 1rem;
    font-weight: 400;
    color: gray;
    font-family: 'Inter', sans-serif;
}
.why-choose-us img{
        width: 85%;
        object-fit: cover;
        border-radius: 10px;
}
.choose-element{

text-align: center;
padding: 0em 1em 1em 1em; 


}
.choose-element i{
    font-size: 2.5rem;
    color: #6eb846;
}
.choose-element h2{
    font-size: 1.5rem;
    font-weight: 600;
    color: #1a3240;
}
.choose-element p{
    font-size: 1rem;
    font-weight: 400;
    color: gray;
    font-family: 'Inter', sans-serif;
}
.choose-element .col{
    padding: 2em 2em 2em 2em;
    background: white;
    margin-top: 1.2em;
    margin-left:1.2em ;
    border-radius: 10px;
}
