*{ 
    box-sizing: b;
     margin: 0;
     padding: 0;
     font-family: 'Titillium Web', sans-serif;
 }
 .phoenix{
   background-color: #DCDCDE;
 }
 .landing{
 }
 .landing-content{
 }
 .headers{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .headers h1{
    font-size: 3rem;
    z-index: 2; 
    color: rgb(255, 255, 255);
   
 }
 .navbar{
    z-index: 2;
 }
 .navbar ul{
    display: flex;
    list-style: none; 
 }
 .navbar li a{
    text-decoration: none;
    margin-left: 3em;
    font-size: 1.2rem;
    font-weight: bold;
    /* color: #6eb846; */
   color: rgb(255, 255, 255);
 }
 video{
   position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0.9; 
    height: 90vh;
 }
 .overlay{
   height: 90vh;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color:#5f6166;
    mix-blend-mode: overlay;
 }
 .text{
   display: flex;
   flex-direction: column;
   align-items: center;
    text-align: center;
    color: rgb(236, 224, 224);
    margin-top: 250px;

 }
 .text h3{
    font-size: 3rem;
    font-weight: bold;
    z-index: 2;
 }
 .text p{
    font-size: 1.5rem;
    font-weight: 600;
    z-index: 2;
 }
 .head{
    font-size: 1rem;
    z-index: 2;
 }
 .explore{
   z-index: 10;
 }
 .text a{
   padding: 1em 5em;
   font-size: 1.2rem;
   font-weight: bold;
   background: none;
   border: 4px solid white;
   z-index: 2;
 }
 .text a:hover{
   background: goldenrod;
   cursor: pointer;
   color: black;
   
   z-index: 2;
 }
 /* SERVICES ***************************/
 .services{
  margin-top: 180px;
   display: flex;
   justify-content: space-between;
   z-index: 200;
 
 
   text-align: center;
 }
 .count{
   position: relative;
    background-color:#1963A6;
    text-align: center;
    font-size:1.6rem;
    font-weight: bold;
   border-radius: 10px;
    padding: 2.3em 3em 1em 3em;
    line-height: 1.6em;
    z-index: 10;
    color: white;
   
   
 }
 .count i{
   font-size: 2.5rem;

 }

 

.num{ 
   font-size: 3rem;
 }
 .serv {
   position: relative;
   display: flex;
   text-align: center;
   width: 100%;
   font-size: 1.5em;
   border-radius: 10px;
   padding: 1.5em 2em 0em 1em;
   z-index: 2121212;
   justify-content: space-between;
   top: 7px;

  line-height: 1em;
 }
.serv-item-one{
   width: 32%;
 }
 .serv-item-two{
   width: 32%;
 }
 .serv-item-three{
   width: 32%;
 }
 .serv div{
   background-color: rgb(255, 255, 255);
   border-radius: 10px;
   height: 12.5em;
 }
 .serv button{
  border: 1px solid black;

 }
.serv h2{
   font-size: 1.7rem;
   font-weight: 600;
}
.serv i{
   font-size: 2.5rem;
   margin-top: .8em;
   margin-bottom: .5em;
   color: #6eb846;
}
.texts{
  margin-top: 1em;
   font-size: 1.2rem;
   font-weight: 600;
}

